{% set container_element = href ? "a"  : "div" %}

{% set blurb_inner %}
  <div class="bix-blurb__media">
    <img
    src="{{ image | default("https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4e534/people-first.webp ") }}"
    alt=""
    width="750px">
  </div>
  <h3 class="bix-blurb__title">{{ title }}</h3>
  {% if date %}
  <time class="bix-blurb__date" datetime="{{ date | date("m-d-Y") }}">
    {{ date }}
  </time>
  {% endif %}
  {% if description %}
  <p class="bix-blurb__description">
    {{ description }}
  </p>
  {% endif %}
{% endset %}


<{{ container_element }}
  {% if container_element == "a" %}
    href="{{ href | default("javascript:void(0)")}}"
  {% endif %}
class="bix-blurb">
  {{ blurb_inner }}
</{{ container_element }}>
