{#
/**
  * Social nav component.
  *
  * Available variables:
  * - variant: String for component variant.
  * - aria_label: String for unique aria labels.
  *               Unique label is required to avoid A11Y issues when there are multiple on the same page.
  * - items: Array of social nav objects.
  *   - href: Link to social network.
  *   - label: Social network label used for link title.
  *   - icon_path: Path to icon in static assets directory. StorybookJS uses `./stories/assets`.
**/
#}

{% set variant_class = variant ? "bix-social-nav--" ~ variant | default("") %}

<nav
  class="bix-social-nav {{ variant_class }}"
  aria-label="{{ aria_label | default("Social links") }}">
  <ul class="bix-social-nav__items">
    {% for item in items %}
      <li class="bix-social-nav__item">
        <a
          href="{{ item.href }}"
          class="bix-social-nav__link"
          target="_blank"
          title="{{ item.label }}"
          rel="noopener noreferrer">
          <!-- @TODO: Create an SVG component that embeds SVG markup and can take params like: height, width, aria-hidden. -->
          {% if item.icon_path %}
            <span aria-hidden="true">
              {{ source(item.icon_path) }}
            </span>
          {% else %}
            {{ item.label }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
</ul>
</nav>
