{% extends "@components/profile/profile-base.html.twig" %}

{% if image is empty %}
  {% set image %}
  <img src="{{ image | default("https://placehold.co/325x325") }}" height="270" width="270" alt=""/>
  {% endset %}
{% endif %}

{% if name is empty %}
  {% set name %}
  {{ name | default("Full name") }}
  {% endset %}
{% endif %}

{% if role is empty %}
  {% set role %}
  {{ role | default("Role") }}
  {% endset %}
{% endif %}

{% if socialNav is empty %}
  {% include "@components/social-nav/social-nav.html.twig" with socialNav %}
{% endif %}

{% if specialties is empty %}
  {% set specialties %}
  <ul>
    {% for item in specialties %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endset %}
{% endif %}

{% if certifications is empty %}
  {% set certifications %}
  <ul>
    {% for item in certifications %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endset %}
{% endif %}

{% if languages is empty %}
  {% set languages %}
  <ul>
    {% for item in languages %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endset %}
{% endif %}

{% if bucketlist is empty %}
  {% set bucketlist %}
  {{ bucketlist }}
  {% endset %}
{% endif %}
