{#
/**
  * User Profile
  *
  * Available variables:
  * - variable_name: description.
**/
#}

<div class="bix-profile">
  <div class="bix-profile__main">
    <div class="bix-profile__main-container">
      <div class="bix-profile__intro">
        <div class="bix-profile__image">
          {{ image }}
        </div>
        <div class="bix-profile__description">
          <h1 class="bix-profile__heading bix-profile__heading--primary">
            {{ name }}
          </h1>
          <div class="bix-profile__job-description">
            <div class="bix-profile__role">
              {{ role }}
            </div>
          </div>
          {{ socialNav }}
        </div>
      </div>
    </div>
  </div>

  {% if specialties or bucketlist or certifications or languages %}
    <div class="bix-profile__aside">
      <div class="bix-profile__interests">
        {% if specialties %}
          <div class="bix-profile__specialties">
            <h2 class="bix-profile__heading bix-profile__heading--secondary">Specialties</h2>
            {{ specialties }}
          </div>
        {% endif %}
        {% if certifications %}
          <div class="bix-profile__certifications">
            <h2 class="bix-profile__heading bix-profile__heading--secondary">Certifications</h2>
            {{ certifications }}
          </ul>
        </div>
      {% endif %}
      {% if languages %}
        <div class="bix-profile__languages">
          <h2 class="bix-profile__heading bix-profile__heading--secondary">Languages</h2>
          {{languages}}
        </div>
      {% endif %}
      {% if bucketlist %}
        <div class="bix-profile__bucket-list">
          <h2 class="bix-profile__heading bix-profile__heading--secondary">Bucket List</h2>
          <p>{{ bucketlist }}</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}</div>
