{#
/**
  * User Profile
  *
  * Available variables:
  * - variable_name: description.
**/
#}

<div class="bix-profile">
  <div class="bix-profile__main">
    <div class="bix-profile__main-container">
      <div class="bix-profile__intro">
        <div class="bix-profile__image">
          <img
            src="{{ image | default("https://placehold.co/325x325") }}"
            height="270"
            width="270"
            alt=""
          />
        </div>
        <div class="bix-profile__description">
          <h1 class="bix-profile__heading bix-profile__heading--primary">
            {{ name | default("Full name") }}
          </h1>
          <div class="bix-profile__job-description">
            <div class="bix-profile__role">
              {{ role | default("Role") }}
            </div>
          </div>
          {% if socialNav %}
            {% include "@components/social-nav/social-nav.html.twig" with socialNav %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="bix-profile__aside">
    <div class="bix-profile__interests">
      <div class="bix-profile__specialties">
        <h2 class="bix-profile__heading bix-profile__heading--secondary">Specialties</h2>
        {% if specialties %}
        <ul>
          {% for item in specialties %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% if bucketlist %}
      <div class="bix-profile__bucket-list">
        <h2 class="bix-profile__heading bix-profile__heading--secondary">Bucket List</h2>
        <p>{{ bucketlist }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
