{% extends "@components/profile/profile-base.html.twig" %}

{% if image is not empty %}
  {% set image %}
  {{ image | default("https://placehold.co/325x325") }}
  {% endset %}
{% endif %}

{% if name is not empty %}
  {% set name %}
  {{ name | default("Full name") }}
  {% endset %}
{% endif %}

{% if role is not empty %}
  {% set role %}
  {{ role | default("Role") }}
  {% endset %}
{% endif %}

{% if socialNav is not empty %}
{% set socialNav %}
  {% include "@components/social-nav/social-nav.html.twig" with socialNav %}
{% endset %}
{% endif %}

{% if specialties is not empty %}
  {% set specialties %}
  <ul>
    {% for item in specialties %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endset %}
{% endif %}

{% if certifications is not empty %}
  {% set certifications %}
  <ul>
    {% for item in certifications %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endset %}
{% endif %}

{% if languages is not empty %}
  {% set languages %}
  <ul>
    {% for item in languages %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endset %}
{% endif %}

{% if bucketlist is not empty %}
  {% set bucketlist %}
  {{ bucketlist }}
  {% endset %}
{% endif %}
