<header class="bix-site-header">
  <div class="bix-site-header__inner bix-container">
    <a
      href="{{ logo.href }}"
      title="Bixal"
      class="bix-site-header__logo">
      <img
        src="{{ logo.image }}"
        alt="Bixal Logo"
        width="120px"
        height="24px"
        >
    </a>
    <button
      type="button"
      data-menu-toggle
      aria-controls="site-nav"
      class="bix-site-nav__toggle">
      <div class="bix-toggle-icon">
        <span class="bix-toggle-icon__line"></span>
        <span class="bix-toggle-icon__line"></span>
      </div>
      <span class="bix-toggle-icon__text">MENU</span>
    </button>
    <nav id="site-nav" class="bix-site-nav" data-menu-target>
      <ul class="bix-site-nav__items">
        {% for item in nav %}
          <li class="bix-site-nav__item">
            <a
              class="bix-site-nav__link {{ item.current ? "is-current" }}"
              href="{{ item.href | default("javascript:void(0)") }}">
              {{ item.label }}
            </a>
          </li>
        {% endfor %}

        {% if cta %}
          <li class="bix-site-nav__item">
            <!-- @TODO: Refactor this button -->
            {% include "@components/button/button.html.twig" with {
              label: "Join Us",
              modifier: "bix-button--inverse",
              link: true
            } %}
            {% include "@components/button/button.html.twig" with {
              label: "Join Us",
              modifier: "desktop-only",
              link: true
            } %}
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
