{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set dlAttributes = create_attribute() %}

{% set dLclasses = [
  'bix-description-list',
  (variant ? 'bix-description-list--' ~ variant | clean_class),
] %}

<div {{ attributes.addClass(classes).addClass(additional_classes | default([])) }}>
  {{ content.contextual_links }}
  <dl {{ dlAttributes.addClass(dLclasses) }}>
    {% if image %}
    {{ image }}
    {% endif %}

    {% if title %}
      <dt class="bix-description-list__heading">
        {{ title }}
      </dt>
    {% endif %}

    {{ items }}

  </dl>
</div>
