{#
/**
  * Pagination, based on USA Pagination
  * https://designsystem.digital.gov/components/pagination/
  *
  * Component behaviors:
  *   1. Show all pages if less than 7 pages.
  *      Example: [*1*] [2] [3] [4] [5] [6] [7]
  *   2. Show first five items of a large dataset.
  *      Example: [1] [2] [3] [*4*] [5] … [8]
  *   3. Show last five items of a large dataset.
  *      Example: [1] … [4] [*5*] [6] [7] [8]
  *   4. By default, show current -1, current, and current + 1
  *      Example: [1] … [4] [*5*] [6] … [9]
  *
  * Available variables:
  * - aria_label: String aria label.
**/
#}

{% import "./_pagination-macros.html.twig" as pagination %}

{% set total_pages = items.pages|length %}
{% set pager_ranges = {
  'default': range(current - 1, current + 1),
  'first_five': range(1, 5),
  'last_five': range(total_pages - 4, total_pages)
} %}

{% if items.first.attributes is empty %}
  empty attributes
{% endif %}

{% if items %}
  {#
    * 1. Role isn't needed because it's already using a `<nav>` element.
    * 2. Heading isn't needed because of aria label.
  #}
  <nav class="usa-pagination pager" aria-label="{{ 'Pagination'|t }}">

    <ul class="usa-pagination__list pager__items js-pager__items">
      {% if items.previous and current > 1 %}
        {% set direction = items.previous %}
        {{ pagination.link(direction, direction.icon_placement, direction.icon) }}
      {% endif %}

      {# 1. List all items if 7 pages or less. #}
      {% if total_pages <= 7 %}
        {% for key, item in items.pages %}
          {{ pagination.button(current, item, key) }}
        {% endfor %}

      {# 2. Get the first five pages of a large dataset. #}
      {# Example: 1, 2, 3, *4*, 5 … 8 #}
      {% elseif current <= 4 and total_pages >= 7 %}

        {% for item in pager_ranges.first_five %}
          {{ pagination.button(current, items.pages[item], item) }}
        {% endfor %}

        {# Add an ellipsis if there are further next pages. #}
        {{ pagination.overflow() }}

        {# Print last item if we are not on the last page. #}
        {% if items.last %}
          {{ pagination.button(current, items.last) }}
        {% endif %}

      {# 3. Get the last five pages when close to the end of dataset. #}
      {# Example: 1 … 4, *5*, 6, 7, 8 #}
      {% elseif current >= total_pages - 3 %}

        {% if items.first %}
        {{ pagination.button(current, items.first) }}
        {% endif %}

        {{ pagination.overflow() }}

        {% for item in pager_ranges.last_five %}
          {{ pagination.button(current, items.pages[item], item) }}
        {% endfor %}

      {# 4. Default case: Current -1, Current, Current + 1 #}
      {# Example: 1 … 4, *5*, 6 … 9 #}
      {% else %}

        {% if items.first %}
        {{ pagination.button(current, items.first) }}
        {% endif %}

        {{ pagination.overflow() }}

        {% for key, item in pager_ranges.default %}
          {{ pagination.button(current, items.pages[item], item) }}
        {% endfor %}

        {{ pagination.overflow() }}

        {% if items.last %}
          {{ pagination.button(current, items.last) }}
        {% endif %}

      {% endif %}

      {% if items.next and current != total_pages %}
      {% set direction = items.next %}
      {{ pagination.link(direction, direction.icon_placement, direction.icon) }}
      {% endif %}
    </ul>
  </nav>
{% endif %}
