{#
/**
  * Filterable people list.
  *
  * Available variables:
  * - filter_dropwdown_label: String for filter button label.
  * - filter_options: Array of strings for available filters.
  * - filter_content: Array of people objects.
  *   - name: String name of person.
  *   - image: String URL of profile pic.
  *   - role: String professional role.
  *   - filter_category: string of associated option in `filter_options`.
  *   - social_links: Array of objects containing social links.
  *   - specialties: Array of strings that contain personal specialties.
  *   - languages: Array of strings that contain spoken languages.
  *   - bucketlist: A string that contains bucketlist wish.
**/
#}

<section id="bixal-team" class="bix-people">
  <div class="bix-filter__dropdown">
    <button
      type="button"
      class="bix-filter__dropdown-button bix-button bix-button--unstyled"
      data-dropdown-toggle
      aria-controls="bix-filter-dropdown">
      {{ filter_dropdown_label | default("Filter by") }}

      <svg
        class="bix-icon bix-icon--caret"
        width="16px"
        height="10px"
        viewBox="0 0 16 10"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill="#000">
            <path
              d="M15.9348521,2.05473568 L8.15375072,9.93454396 C8.06722618,10.0218187 7.9230186,10.0218187 7.83649406,9.93454396 L0.0648934083,2.05473568 C-0.0216311361,1.96711736 -0.0216311361,1.82108681 0.0648934083,1.73312488 L1.76722141,0 L7.83649406,6.14530898 C7.9230186,6.23327091 8.06722618,6.23327091 8.15375072,6.14530898 L14.2230234,0 L15.9348521,1.73312488 C16.021716,1.82108681 16.021716,1.96711736 15.9348521,2.05473568"
              id="arrow"></path>
          </g>
        </g>
      </svg>
    </button>

  {% if filter_options %}
  <div
    id="bix-filter-dropdown"
    class="bix-filter__dropdown-options"
    data-dropdown-options>
    {% for option in filter_options %}
      <label
        for="{{ option | lower }}"
        class="bix-filter__dropdown-option">
        <input
          type="radio"
          name="filter"
          id="{{ option | lower }}"
          value="{{ option | lower }}"
          {{ loop.first ? "checked" }}>
        {{ option | capitalize }}
      </label>
    {% endfor %}
  </div>
  {% endif %}
  </div>
  {% if filter_content %}
  <ul class="bix-people-list">
    {% for item in filter_content %}
    <li
      class="bix-people-list__item bix-person"
      data-filter-category="{{ item.filter_category }}">
      <a
        class="bix-person__link"
        href="javascript:void(0)"
        {% if item.name %}
        title="View {{ item.name }}'s full profile">
        {% endif %}
        <div class="bix-person__media">
          {# Image is decorative, therefore hidden. #}
          <img
            src="{{ item.image | default("https://placehold.co/325x325") }}"
            aria-hidden="true">
          <div class="bix-person__overlay">
            View all
            <svg
              class="bix-icon bix-icon--right-arrow"
              width="20px"
              fill="#fff"
              version="1.1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12 "></polygon>
            </svg>
          </div>
        </div>
        <div class="bix-person__details">
          <h3 class="bix-person__name">
            {{ item.name | default("Full name") }}
          </h3>
          <div class="bix-person__role">
            {{ item.role | default("Role") }}
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if filter_content|length > 20 %}
  <div class="bix-people__footer">
    {% include "@components/button/button.html.twig" with {
      label: "View all",
    } %}
  </div>
  {% endif %}
</section>
