<footer id="site-footer" class="bix-site-footer">
  <section class="bix-container  bix-site-footer__primary">
    <div class="bix-site-footer__columns">
      <div class="bix-site-footer__column">
        <h3 class="bix-site-footer__title">Work With Us</h3>
        <p>Looking to join our team? Check out our <a href="javascript:void(0)">open positions</a>.</p>
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--accreditations">
        <h3 class="bix-site-footer__title">Accreditations</h3>
        Women-owned small business <br />
        ISO 9001:2015 <br />
        CMMI Level 3 <br />
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--hq">
        <h3 class="bix-site-footer__title">Headquarters</h3>
        <div class="bix-site-footer-item__body">
          <address>3050 Chain Bridge Rd., Suite 305<br>Fairfax, VA 22030</address>
          <p>
            <a href="tel:1.703.634.5701">703.634.5701</a>
            <a href="mailto:info@bixal.com">info@bixal.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="bix-site-footer__secondary" class="bix-site-footer__secondary">
    <div class="bix-site-footer__secondary-container bix-container">
      {# {{ legal_nav_cl }} #}
      <div>

      </div>
      {{ footer_nav_cl }}
      <div class="bix-site-footer__legal">
        {% for item in legal %}
          <a class="{{ item.current ? "is-current" }}" href="{{ item.href | default("javascript:void(0)") }}">
            {{ item.label }}
          </a>
        {% endfor %}
        <div class="copyright">Copyright &copy;
          {{ 'now' | date('Y') }}
          Bixal
        </div>
      </div>
      {% if socialNav %}
        {% include "@components/social-nav/social-nav.html.twig" with socialNav %}
      {% endif %}
    </div>
  </section>
</footer>
