<footer id="site-footer" class="bix-site-footer">
  <section class="bix-container  bix-site-footer__primary">
    <div class="bix-site-footer__columns">
      <div class="bix-site-footer__column bix-site-footer__column--logo">
        <div class="bix-site-footer__logo">
          <img role="presentation" aria-hidden="true" decoding="async" loading="lazy" src="/static/img-b-footer.png" alt="Bixal Logo letter B silhouette around a photo of a smiling child.">
        </div>
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--collab">
        <h3 class="bix-site-footer__title">
          Work With Us
        </h3>
        <p>Looking to join our team? Check out our openings.</p>
        <p>
          {% include "@components/button/button.html.twig" with {
          variant: "inverse",
          label: "Learn more",
          href: "/careers",
          icon: "arrow-right"
        } %}
        </p>
        <div>
          <a href="/accessibility-statement">Accessibility Statement</a>
          |
          <a href="/deia">DEIA Statement</a>
          |
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--hq">
        <h3 class="bix-site-footer__title">Headquarters</h3>
        <div class="bix-site-footer-item__body">
          <address>3050 Chain Bridge Rd., Suite 305<br>Fairfax, VA 22030</address>
          <p>
            <a href="tel:1.703.634.5701">703.634.5701</a>
            <a href="mailto:info@bixal.com">info@bixal.com</a>
          </p>

          <h3 class="bix-site-footer__title">Washington, DC Office</h3>
          <address>529 14th Street NW, Suite 814<br>Washington, DC 20045</address>
        </div>
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--accreditations">
        <h3 class="bix-site-footer__title">Accreditations</h3>
        {% if theme_hook_original %}
          {{ config_pages_field('accreditations', 'field_links', 'full') }}
          <div class="accreditations-logos">
            {{ config_pages_field('accreditations', 'field_logos', 'full') }}
          </div>
        {% else %}
          <ul>
            <li>
              <a href="https://www.sba.gov/business-guide/grow-your-business/women-owned-businesses" rel="noopener noreferrer" target="_blank">
                Woman-owned small business
              </a>
            </li>
            <li>
              <a href="https://www.iso.org/standard/62085.html" rel="noopener noreferrer" target="_blank">
                ISO 9001:2015
              </a>
            </li>
            <li>
              <a href="https://cmmiinstitute.com/learning/appraisals/levels" rel="noopener noreferrer" target="_blank">
                CMMI Level 3
              </a>
            </li>
          </ul>
          <div class="accreditations-logos">
            <a href="https://www.iso.org/standard/62085.html" rel="noopener noreferrer" target="_blank">
              <img src="/static/7110e309c7dc3b7c2aa59397bde3793a/iso-certified.svg" alt="ISO certified logo">
            </a>
            <a href="https://cmmiinstitute.com/learning/appraisals/levels" rel="noopener noreferrer" target="_blank">
              <img src="/static/9f64d5381d0ca7afecdd062b1bac2a68/cmmi.svg" alt="Capability Maturity Model Integration Level 3 logo">
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <section id="bix-site-footer__secondary" class="bix-site-footer__secondary">
    <div class="bix-site-footer__secondary-container bix-container">
      {{ legal_nav_cl }}
      {% if nav %}
        <nav class="bix-site-footer__secondary-nav" aria-label="Site links">
          <ul class="bix-site-footer__secondary-nav-items">
            {% for item in nav %}
              <li class="bix-site-footer__secondary-nav__item">
                <a class="{{ item.current ? "is-current" }}" href="{{ item.href | default("javascript:void(0)") }}">
                  {{ item.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      {{ footer_nav_cl }}
      <div class="bix-site-footer__legal">
        {% for item in legal %}
          <a class="{{ item.current ? "is-current" }}" href="{{ item.href | default("javascript:void(0)") }}">
            {{ item.label }}
          </a>
        {% endfor %}
        <span class="copyright">Copyright &copy;
          {{ 'now' | date('Y') }}
          Bixal</span>
      </div>
      {% if socialNav %}
        {% include "@components/social-nav/social-nav.html.twig" with socialNav %}
      {% endif %}
    </div>
  </section>
</footer>
