{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set emphasis_block_classes = [
  "bix-emphasis-block",
  (variant ? "bix-emphasis-block--" ~ variant)
] | merge(additional_classes | default([])) %}

<div {{ attributes.addClass(emphasis_block_classes) }}>
  {% if prefix %}
  <p class="bix-emphasis-block__prefix">
    {{ prefix }}
  </p>
  {% endif %}
  {# @TODO: Fix heading order, ex: use `h3`. #}
  <h4 class="bix-emphasis-block__title">
    {% if href %}
    <a
      rel="noreferrer"
      target="_blank"
      href="{{ href }}"
      class="bix-emphasis-block__link"
    >
    {% endif %}

    {{ title }}

    {% if href %}</a>{% endif %}
  </h4>
  <div class="bix-emphasis-block__postfix">{{ postfix }}</div>
</div>
