{#
/**
  * Emphasis block
  *
  * Available variables:
  * - variant (string, optional): The component modifier, available options:
  *     base, accent-cool, accent-cool-alt, accent-vivid, accent-warm, primary, primary-alt.
  *     These modifiers also work on the collection.
  * - additional_classes (array, optional): Additional  classes for component.
  * - prefix (string, optional): Prefix text before the title.
  * - title (string): The main title.
  * - href (string, optional): The URL for the title link.
  * - postfix (string, optional): Text after the title.
**/
#}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set emphasis_block_classes = [
  "bix-emphasis-block",
  (variant ? "bix-emphasis-block--" ~ variant)
] | merge(additional_classes | default([])) %}

<div {{ attributes.addClass(emphasis_block_classes) }}>
  {% if prefix %}
  <p class="bix-emphasis-block__prefix">
    {{ prefix }}
  </p>
  {% endif %}
  {# @TODO: Fix heading order, ex: use `h3`. #}
  <h4 class="bix-emphasis-block__title">
    {% if href %}
    <a
      rel="noreferrer"
      target="_blank"
      href="{{ href }}"
      class="bix-emphasis-block__link"
    >
    {% endif %}

    {{ title }}

    {% if href %}</a>{% endif %}
  </h4>
  {% if postfix %}
  <div class="bix-emphasis-block__postfix">{{ postfix }}</div>
  {% endif %}
</div>
