{#
/**
  * Graphic list
  *
  * Available variables:
  * - heading_type (string, optional): The HTML heading type to use for the title (e.g. "h2", "h3", etc.). Defaults to "h3".
  * - items (array): An array of item objects, each containing:
  *   - image (string): The HTML for the item image.
  *   - title (string, optional): The item title.
  *   - body (string): The item content.
**/
#}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set graphic_list_classes = [
  "bix-graphic-list",
] | merge(additional_classes | default([])) %}

{% set heading_type = heading_type | default("h3") %}

{% if items %}
<div {{ attributes.addClass(graphic_list_classes) }}>
  {% for item in items %}
    <div class="bix-graphic-list__item">
      <div class="bix-graphic-list__image">
      {% if item.image %}
        {{ item.image }}
      {% endif %}
      </div>
      <div class="bix-graphic-list__body">
        {% if item.title %}
          <{{ heading_type }} class="bix-graphic-list__title">
            {{ item.title }}
          </{{ heading_type }}>
        {% endif %}

        {{ item.body }}
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
