{#
/**
  * Section component.
  *
  * Available variables:
  * - prefix: Optional string. Contains title prefix with borders on the side.
  * - heading_type: String heading type for title.
  * - title: String title of section.
  * - description: String body text, can include paragraphs.
  * - cta: Optional call to action, uses button component and its settings.
**/
#}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set section_classes = [
  "bix-section",
  (image ? "bix-section--image-bg"),
  (variant ? "bix-section--" ~ variant),
  (center_content ? "bix-section--center-content"),
  (additional_classes ? additional_classes),
] %}

{% set heading_type = heading_type | default("h2") %}

<section
  {{ attributes.addClass(section_classes) }}
  {% if image %}style="background-image: url('{{ image }}')"{% endif %}>
  <div class="bix-container">
    {% block header %}
      {% if prefix %}
      <div class="bix-title-prefix">
        {{ prefix }}
      </div>
      {% endif %}

      {% if title %}
      <{{ heading_type }} class="bix-section__title">
        {{ title }}
      </{{ heading_type }}>
      {% endif %}
    {% endblock %}

    {% block body %}
      {% if description %}
      <div class="bix-section__body">
        {{ description | raw }}
      </div>
      {% endif %}
    {% endblock %}

    {% block footer %}
      {% if cta.label %}
        <div class="bix-section__footer">
          {# Avoid button inheriting section data. #}
          {% include "@components/button/button.html.twig" with cta only %}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</section>
