{#
/**
  * Section component.
  *
  * Available variables:
  * - prefix: Optional string. Contains title prefix with borders on the side.
  * - prefix_below: Opt boolean. If true, the prefix will show under the title.
  * - prefix_label: Optional string. Adds a label to prefix seperated by a |
                    and removes the borders from the sides.
  * - heading_type: String heading type for title.
  * - title: String title of section.
  * - description: String body text, can include paragraphs.
  * - cta: Optional call to action, uses button component and its settings.
**/
#}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set section_classes = [
  "bix-section",
  (image ? "bix-section--image-bg"),
  (variant ? "bix-section--" ~ variant),
  (center_content ? "bix-section--center-content"),
] | merge(additional_classes | default([])) %}

<section
    {{ attributes.addClass(section_classes) }} {% if image %} style="background-image: url('{{ image }}')" {% endif %}>

  {#
    /**
      ? The `bix-container` can appear *without* content, for sections like homepage flip grids.
      ? A side effect of this is that `bix-container` can appear empty on image only sections, ex: above "Careers - How we work"
    **/
    #}
  <div class="bix-container">
    {% block header %}
      {% if prefix_below %}
        {% include "@partials/section-title.html.twig" %}
      {% endif %}
      {% if prefix %}
        <div class="bix-title-prefix{% if prefix_label %}-label{% endif %}">
          {% if prefix_label %}{{ prefix_label }}&nbsp;<span aria-hidden="true">|</span>&nbsp;{% endif %}{{ prefix }}
        </div>
      {% endif %}
      {% if not prefix_below  %}
        {% include "@partials/section-title.html.twig" %}
      {% endif %}

      {% if subtitle %}
        <div class="bix-subtitle">{{ subtitle }}</div>
      {% endif %}

    {% endblock %}

    {% block description %}
      {% if description %}
        <div class="bix-section__body">
          {{ description | raw }}
        </div>
      {% endif %}
    {% endblock %}

    {{ body }}

    {% block footer %}
      {% if cta.label %}
        <div
            class="bix-section__footer">
          {# Avoid button inheriting section data. #}
          {% include "@components/button/button.html.twig" with cta only %}
        </div>
      {% endif %}
    {% endblock %}
  </div>
  {% if content_not_empty %}{% endif %}
</section>
